html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Atkinson Hyperlegible", "Times New Roman", sans-serif;
    color:rgb(0,0,0);
    background-color: rgba(176, 196, 222, 0.4);
    background-image: url('./images/marble.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: 60vw;
    margin: 0 auto;
}

h1 {
    background-color: rgba(251, 255, 15, 0.6);
}

div h2 {
    background-color: rgba(0, 0, 0, 0.1);
}

.community-to-user {
    background-color:rgba(31, 148, 202, 0.3);
}

.user-to-community {
    background-color: rgba(31, 85, 202, 0.3);
}

.about-us {
    background-color: rgba(31, 202, 151, 0.3);   
}

div li {
    background-color: rgba(31, 148, 202, 0.1);    
}

.navbar {
    height: 60vh;
    background-image: url('./images/navbar_spoons_of_spice.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 1px;
}



/*
Design Notes:

~Font Choice~
The intention here was to maximize accessibility.

Sans Serif:
    1. Sans Serif > Serif: https://accessibility.uncg.edu/make-content-accessible/design-elements/
    2. Sans Serif > Serif: https://www.section508.gov/develop/fonts-typography/#:~:text=Typically%2C%20for%20people%20with%20low,for%20headings%20or%20other%20emphasis. 
    3. Research inconclusive on Sans Serif vs Serif: https://www.siteimprove.com/glossary/accessible-fonts/

*/